{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="header view-header legal">
        <a href="/admin">后台管理</a>>编辑&nbsp;{{ locals.api.api_name }}
    </div>
    <div class="pure-u-1 view pure-form">
        <span class="key">接口描述</span>
        <span class="value">
            <input id="edit-description" style="width:100%;" type="text" value="{{ locals.api.api_description }}">
        </span>

        <span class="key">接口类别</span>
        <span class="value">
            <select id="edit-category">
                {% for category in locals.category_list %}
                    <option value="{{ category.id }}" {% if category.category_name==locals.category %}selected="selected"{% endif %}>
                        {{ category.category_name }}
                    </option>
                {% endfor %}
            </select>
        </span>

        <span class="key">支持格式</span>
        <span class="value">
            <input id="json-e" type="checkbox" {% if 'JSON' in locals.api.api_format %}checked="checked"{% endif %}> <label for="json" style="width:auto;margin-right:10px;">JSON</label>
            <input id="xml-e" type="checkbox" {% if 'XML' in locals.api.api_format %}checked="checked"{% endif %}> <label for="xml" style="width:auto;">XML</label>
        </span>

        <span class="key">HTTP请求方式</span>
        <span class="value">
            <input id="get-e" type="checkbox" {% if 'GET' in locals.api.api_method %}checked="checked"{% endif %}> <label for="get" style="width:auto;margin-right:10px;">GET</label>
            <input id="post-e" type="checkbox" {% if 'POST' in locals.api.api_method %}checked="checked"{% endif %}> <label for="post" style="width:auto;">POST</label>
        </span>

        <span class="key">是否需要授权</span>
        <span class="value">
            <input id="edit-auth" type="checkbox" {% if locals.api.api_auth %}checked="checked"{% endif %}> <label for="auth" style="width:auto;margin-right:10px;">是</label>
        </span>

        <div id="add_param_box_e" style="display:none;width:650px;">
        <form class="pure-form pure-form-aligned pure-u-1">
            <fieldset>
                <div class="pure-control-group">
                    <label for="add_name">字段名称</label>
                    <input id="add_name_e" type="text" placeholder="请输入字段名称" style="width: 300px;">
                </div>

                <div class="pure-control-group">
                    <label>必选字段</label>
                    <input id="add_must_e" type="checkbox" checked="checked"><label for="add_must" style="width:auto;margin-right:10px;">是</label>
                </div>

                <div class="pure-control-group">
                    <label for="add_type">字段类型</label>
                    <input id="add_type_e" type="text" placeholder="请输入字段类型" style="width: 300px;">
                </div>

                <div class="pure-control-group">
                    <label for="add_default">默认值</label>
                    <input id="add_default_e" type="text" style="width: 300px;">
                </div>

                <div class="pure-control-group">
                    <label for="add_description">字段说明</label>
                    <input id="add_description_e" type="text" placeholder="请输入详细的说明" style="width: 400px;">
                </div>

                <div style="margin-left: 250px; margin-top:20px;">
                    <a id="add_param_btn_e" class="pure-button pure-button-primary" href="javascript:void(0)" onclick="$.fancybox.close();">确定</a>
                </div>
            </fieldset>
        </form>
        </div>

        <span class="key">请求参数 <a href="#add_param_box_e" id="various2">+</a></span>
        <!--<span class="hidden-params-e" style="display:none;">{{ locals.param_json }}</span>-->
        <span class="value">
            <textarea id="edit-params" class="pure-u-1" style="height:100px;">{{ locals.param_json }}</textarea>
            <!--<table class="param-list pure-u-1" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>字段</th>
                        <th>必选</th>
                        <th>类型</th>
                        <th>默认值</th>
                        <th class="view-description">说明</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="add_tmp_params_e">
                    {% for param in locals.api.api_params %}
                        <tr>
                            <td>{{ param.param_name }}</td>
                            <td>{{ param.param_must }}</td>
                            <td>{{ param.param_type }}</td>
                            <td>{{ param.param_default or '无'}}</td>
                            <td>{{ param.param_description }}</td>
                            <td>
                                <a href="">编辑</a>
                                <a href="">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>-->
        </span>

        <span class="key">返回结果</span>
        <span class="value">
            <textarea id="edit-result-1" class="pure-u-1" style="height:100px;">{{ locals.api.api_return }}</textarea>
            <span class="pure-u-2-5"></span>
            <a href="javascript:void(0)" onclick="preview_json()">点击预览</a>
            <pre class="api-result-1 renderjson" style="display:none"></pre>
        </span>

        <span class="key">注意事项</span>
        <span class="value">
            <textarea id="edit-notice" class="pure-u-1" style="height:100px;">{{ locals.api.api_notice  or '无'}}</textarea>
        </span>

        <span class="key">本次更新日志</span>
        <span class="value">
            <textarea id="edit-changelog" class="pure-u-1" style="height:100px;"></textarea>
        </span>

        <span class="key">接口测试地址</span>
        <span class="value">
            <input id="edit-test" style="width:100%;" type="text" value="{{ locals.api.api_test }}">
        </span>

        <span class="value">
            <span class="pure-u-2-5"></span>
            <button onclick="edit_api({{ locals.api.id }});" class="pure-button pure-button-primary">提交</button>
        </span>

    </div>
    <script src="{{ url_for('static', filename='script/admin.js') }}"></script>
{% endblock %}
